<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.mapper.UserMapper">
<!--    下面的 是实现manager的增删改查-->
    <resultMap id="BaseResultMap" type="com.example.test.bean.UserBean">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="tel" jdbcType="VARCHAR" property="tel" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, password,tel,email
    </sql>

    <!-- 插入数据 -->
    <insert id="saveUser" parameterType="com.example.test.bean.UserBean">
        insert into user (id, name, password) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>
    <insert id="Register" parameterType="com.example.test.bean.UserBean">
        insert into user (id, name, password,tel,email) values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR})
    </insert>
    <!-- 查询所有数据 -->
    <select id="findByAll" resultMap="BaseResultMap">
        SELECT  <include refid="Base_Column_List" /> FROM  user
    </select>

    <!-- 根据id删除某个User信息 -->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 根据id更新User信息 -->
    <update id="updateUser" parameterType="com.example.test.bean.UserBean">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>

            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>

        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <!-- 根据id查找User信息 -->
    <select id="findUserById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{Id,jdbcType=INTEGER}
    </select>
    <!--  根据email查找信息  -->
    <select id="findUserByEmail" parameterType="String" resultMap="BaseResultMap">
        select
        *
        from user
        where email = #{email,jdbcType=VARCHAR}
    </select>

    <select id="getInfoManager" parameterType="String" resultType="com.example.test.bean.UserBean">
        SELECT * FROM manager WHERE name = #{name} AND password = #{password}
    </select>
    <select id="getInfo" parameterType="String" resultType="com.example.test.bean.UserBean">
        SELECT * FROM user WHERE name = #{name} AND password = #{password}
    </select>

</mapper>